<p class="counter">
  Single: {{ count$ | async }} | Double: {{ doubleCount$ | async }}
</p>
<p class="counter">
  Triple: {{ tripleCount$ | async }} | Quadruple: {{ quadrupleCount$ | async }}
</p>
<p class="counter">
  Quintuple: {{ quintupleCount$ | async }} | Sextuple:
  {{ sextupleCount$ | async }}
</p>
<p class="counter">
  Septuple: {{ septupleCount$ | async }} | Octuple: {{ octupleCount$ | async }}
</p>
<p class="counter">
  Nonuple: {{ nonupleCount$ | async }} | Decuple: {{ decupleCount$ | async }}
</p>
